<!DOCTYPE html>
<html>
<head>
    <title>Your Document Title</title>
    <style>
        h2 {
            font-size: 16px; /* Adjust the size as needed */
        }
    </style>
    
</head>
<body>
    <h2>Background</h2>
    <p>Large language models (LLMs), particularly ChatGPT and GPT-4, have showcased impressive understanding and generation capabilities, capturing our attention and admiration. Beyond these fundamental abilities, LLMs also demonstrate promising capabilities like reasoning, planning, tool usage, memorization and others.</p>

    <h2>Motivation</h2>
    <p>While existing works’ evaluations mainly focus on specific problems while ignoring generalizable abilities across multi-agent systems. In a multi-agent system, there are three characters: (1)Decision making is complex as each agent is limited in local perspective. (2) The system is inherently dynamic, characterized by its ever-changing nature. (3) The collaboration among agents is highly demanding for the final target.</p>
    <p>Therefore, each agent must be capable of understanding and predicting the actions of other agents, which requires them to possess highly developed cognitive abilities. Additionally, due to the frequent changes in the environment and interaction among agents, each agent needs to have the adaptability to quickly adjust their strategies in response to new situations. Furthermore, in both competitive and cooperative contexts, it is necessary to establish collaborative relationships with other agents. Lastly, rationality is crucial for multi-agents when facing complex situations and collaboration, enabling them to make decisions based on logic and evidence, rather than relying on intuition or blind action.</p>
    <p>Hence, we want to comprehensively evaluate the abilities of LLM-powered multi-agent systems from the perspectives of cognition, adaptability, rationality, and cooperation in a quantitative manner. This evaluation platform will demonstrate the capabilities including judgment, reasoning, deception, self-awareness, cooperation, coordination, and rationality of LLM-powered multi-agent system.</p>

    <h2>Contact</h2>
    <p>This project is a collaborative effort initiated by NUS, ByteDance, Stanford and UC Berkeley. Feel free to contact Lin Xu (cathyxl2016@gmail.com) and Zhiyuan (zhiyuan.hu.bj@gmail.com).</p>

    <h2>Citation</h2>
    <pre>
    @article{xu2023magic,
        title={MAgIC: Benchmarking Large Language Model Powered Multi-Agent in Cognition, Adaptability, Rationality and Collaboration}, 
        author={Lin Xu and Zhiyuan Hu and Daquan Zhou and Hongyu Ren and Zhen Dong and Kurt Keutzer and See Kiong Ng and Jiashi Feng},
        year={2023},
        journal={arXiv preprint arXiv: 2311.08562}
        }
    </pre>

</body>
</html>
